<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random Data Arbitrage</title>
  <meta charset="utf-8">
  <style>
  .rightdiv{
   float: right;  
   padding : 1%; 
   color:white; 
    background-color:#494e52;  
    width: 50%; height:1000px; 
    background-size: cover;
    position: relative;
    }
  </style>
</head>

<body style="background-color: #494e52;">

  <table class="table table-hover" style="margin-bottom: 0px; border: hidden;" >
    <thead style="background-color:#171e27; color: #ffffff; ">
    <tr>
      <th scope="col">TRADE ID</th>
      <th scope="col">Interest Rate Bid(6 Months)</th>
      <th scope="col">Interest Rate Ask(6 Months)</th>
      <th scope="col">Interest Rate Bid(12 Months)</th>
      <th scope="col">Interest Rate Ask(12 Months)</th>
      <th scope="col">FRA Rate Bid (6/12)</th>
      <th scope="col">FRA Rate Ask (6/12)</th>
      <th scope="col">Transaction Cost</th>
      <th scope="col">Forward Arbitrage Opportunity</th>
      <th scope="col">Reverse Arbitrage Opportunity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!randomobj.fwdArbitrage && !randomobj.revArbitrage" style="background-color: red;">
      <th scope="row">{{randomobj.id}}</th>
      <td>{{randomobj.arbitrage.interest_rate1_bid|number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.interest_rate1_ask|number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.interest_rate2_bid| number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.interest_rate2_ask| number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.fra_rate_bid|number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.fra_rate_ask|number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.transaction_cost}}</td>
      <td>{{randomobj.fwdArbitrage}}</td>
      <td>{{randomobj.revArbitrage}}</td>
    </tr>

    <tr *ngIf="randomobj?.fwdArbitrage || randomobj?.revArbitrage" style="background-color:rgb(57, 221, 57);">
      <th scope="row">{{randomobj.id}}</th>
      <td>{{randomobj.arbitrage.interest_rate1_bid|number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.interest_rate1_ask|number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.interest_rate2_bid| number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.interest_rate2_ask| number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.fra_rate_bid| number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.fra_rate_ask| number:'1.2-2'}}</td>
      <td>{{randomobj.arbitrage.transaction_cost}}</td>
      <td>{{randomobj.fwdArbitrage}}</td>
      <td>{{randomobj.revArbitrage}}</td>
    </tr>
  </tbody>
</table>


<div *ngIf="randomobj?.fwdArbitrage || randomobj?.revArbitrage" class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading">Arbitrage opportunity found!</h4>
  <h5>Executing the beneficial trade...</h5>
</div>

<div *ngIf="!randomobj?.fwdArbitrage && !randomobj?.revArbitrage" class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Arbitrage opportunity not found!</h4>
</div>


<div class="leftdiv" style="float: left; padding : 1%; 
    color:white; 
    background-color: #494e52 ; 
    width: 50%; height:1000px;
    overflow-y: scroll;">
    <h3 style="margin-left: 120px;">Successful Arbitrage trades </h3>
    <table class="table table-hover " style="background-color:#171e27; color: white; border: hidden;">
      <thead>
        <tr>
          <th scope="col">Trade Id</th>
          <th scope="col">Quantity</th>
          <th scope="col">Profit Earned</th>
          <th scope="col">Time of the trade</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let robj of randoms">
          <th scope="row">{{robj.id}}</th>
          <td>{{robj.arbitrage.notional_amount}}</td>
          <td *ngIf = "robj.profit_loss_fwd >= robj.profit_loss_rev">{{robj.profit_loss_fwd | number:'1.2-2'}}</td>
          <td *ngIf = "robj.profit_loss_fwd < robj.profit_loss_rev">{{robj.profit_loss_rev | number:'1.2-2'}}</td>
          <td>{{robj.date}}</td>
          <td><button type="button" class="btn btn-success" (click)="display(robj)">More Info</button></td>
      </tbody>
    </table>
    <p class="font-weight-light" *ngIf = "index==0">No Successful Arbitrage Trades yet.</p>
</div>

<div class="rightdiv" >
    
  <h3 style="margin-left: 180px;">Details of the trade</h3>
  <div class="container" *ngIf="displayDetails">
    <table class="responsive-table table  table-hover table-bordered" style="background-color:#171e27; color: white;">
      <caption>Arbitrage Details</caption>
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Forward Arbitrage</th>
          <th scope="col">Reverse Arbitrage</th>
        </tr>
      </thead>
          <tbody>

        <tr>
          <th scope="row">Amount</th>
          <td>{{displayObj.arbitrage.notional_amount}}</td>
          <td>{{displayObj.arbitrage.notional_amount}}</td>
        </tr>

         <tr scope="row">
          <th scope="row">Interest Rate Bid/Ask(6 Months)</th>
          <td colspan="2">{{displayObj.arbitrage.interest_rate1_bid |  number:'1.2-2'}}/{{displayObj.arbitrage.interest_rate1_ask |  number:'1.2-2'}}</td>
        </tr>

        <tr scope="row">
          <th>Interest Rate Bid/Ask(12 Months)</th>
          <td colspan="2">{{displayObj.arbitrage.interest_rate2_bid| number:'1.2-2'}}/{{displayObj.arbitrage.interest_rate2_ask| number:'1.2-2'}}</td>
        </tr>

        <tr scope="row">
            <th>FRA Rate Bid/Ask (6/12)</th>
            <td colspan="2">{{displayObj.arbitrage.fra_rate_bid | number:'1.2-2'}}/{{displayObj.arbitrage.fra_rate_ask| number:'1.2-2'}}</td>
        </tr>

        <tr>
          <th scope="row">Trade Verdict</th>
          <td *ngIf="displayObj.profit_loss_fwd >= 0">Profit = {{displayObj.profit_loss_fwd|number:'1.2-2'}}</td>
          <td *ngIf="displayObj.profit_loss_fwd < 0">Loss = {{displayObj.profit_loss_fwd| number:'1.2-2'}}</td>
          

          <td *ngIf="displayObj.profit_loss_rev >= 0">Profit = {{displayObj.profit_loss_rev| number:'1.2-2'}}</td>
          <td *ngIf="displayObj.profit_loss_rev < 0">Loss = {{displayObj.profit_loss_rev|number:'1.2-2'}}</td>
        </tr>
             </tbody>
    </table>
  </div>
</div>



</body></html>
