

      <section id="hero" class="d-flex justify-content-center">
        <div class="container" data-aos="fade-up">
      
          <div class="row" data-aos="fade-up" data-aos-delay="150" style="color: cornsilk;">
            <div>
              <h2>Forward Rate Agreements</h2>  
              <br>
              <h3>FRA is a forward contract in which one party pays a fixed interest rate, and receives a floating interest rate equal to a reference rate. The payer of the fixed interest rate is also known as the borrower or the buyer, whilst the receiver of the fixed interest rate is the lender or the seller. </h3> 
            </div>
          </div>
          
      <div class="row mt-5">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a routerLink="/usertestfra" routerLinkActive="active" (click)="checkArb()">Check for Arbitrage</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a routerLink="/randomfra" routerLinkActive="active" (click)="randomArb()">Arbitrage Trade Opportunities</a></h3>
          </div>
        </div>
      </div>

    </div>