
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div>
          <h1>Forward Rate Agreements</h1>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a routerLink="/usertestfra" routerLinkActive="active" (click)="checkArb()">Check for Arbitrage</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a routerLink="/randomfra" routerLinkActive="active" (click)="randomArb()">Arbitrage Trade Opportunities</a></h3>
          </div>
        </div>
      </div>

    </div>