
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150" style="color: cornsilk;">
        <div>
          <h3>Anonymous Arbitrage</h3>  
          <h3>Automated arbitrage enables the user to find out arbitrage opportunities which exist due to market imbalance. The software checks for arbitrage opportunities across three categories; equities, fx and interest rates. 
            Users can either manually enter data or the software spots an arbitrage opportunity in the dynamic order book which is randomly generated.</h3>
        </div>
      </div>

      <div class="row mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a routerLink="/homecac" routerLinkActive="active" (click)="toCac()">Cash & Carry</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a routerLink="/homefra" routerLinkActive="active" (click)="toFra()">Forward Rate Agreements</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line"></i>
              <h3><a routerLink="/homefx" routerLinkActive="active" (click)="toFx()">FX Trading</a></h3>
            </div>
          </div>
      </div>

    </div>