<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random Data Arbitrage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USD/JPY Spot Bid</th>
      <th scope="col">USD/JPY Spot Ask</th>
      <th scope="col">USD/JPY Forward 6M Bid</th>
      <th scope="col">USD/JPY Forward 6M Ask</th>
      <th scope="col">Interest Rate USD Bid</th>
      <th scope="col">Interest Rate USD Ask</th>
      <th scope="col">Interest Rate JPY Bid</th>
      <th scope="col">Interest Rate JPY Ask</th>
      <th scope="col">Transaction Cost</th>
      <th scope="col">Arbitrage Opportunity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>105.38</td>
      <td>105.42</td>
      <td>105.75</td>
      <td>105.84</td>
      <td>4.95</td>
      <td>5.28</td>
      <td>0.31</td>
      <td>0.42</td>
      <td>20</td>
      <td>Yes</td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>