<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random Data Arbitrage</title>
  <meta charset="utf-8">
  <style>
  .rightdiv{
   float: right;  padding : 1%; 
    color:black; 
    background-color:lightcyan; 
    width: 50%; height:1000px;
    border: solid black; 
    }
  </style>
</head>

<nav class="navbar navbar-dark bg-primary nav justify-content-center">
  <a class="navbar-brand" routerLink="/userInput" routerLinkActive="active" >Check for Arbitrage</a>&nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" routerLink="/random" routerLinkActive="active" >Random Arbitrage Opportunities</a>
</nav>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USD/JPY Spot Bid</th>
      <th scope="col">USD/JPY Spot Ask</th>
      <th scope="col">USD/JPY Forward 6M Bid</th>
      <th scope="col">USD/JPY Forward 6M Ask</th>
      <th scope="col">Interest Rate USD Bid</th>
      <th scope="col">Interest Rate USD Ask</th>
      <th scope="col">Interest Rate JPY Bid</th>
      <th scope="col">Interest Rate JPY Ask</th>
      <th scope="col">Transaction Cost</th>
      <th scope="col">Arbitrage Opportunity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{id}}</th>
      <td>{{spot_bid}}</td>
      <td>{{spot_ask}}</td>
      <td>{{fwd_bid}}</td>
      <td>{{fwd_ask}}</td>
      <td>{{ifirst_bid}}</td>
      <td>{{ifirst_ask}}</td>
      <td>{{isecond_bid}}</td>
      <td>{{isecond_ask}}</td>
      <td>{{trans}}</td>
      <td id="Arbopp">Yes</td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>

<!-- <button (click)="showAlert()">show alert</button> -->

<div *ngIf="alertShow" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Arbitrage opportunity found!</h4>
  <h5>Executing the beneficial trade...</h5>
  <button class="btn btn-primary" (click)="closeAlert()">Close alert</button>
</div>


<div class="leftdiv" style="float: left; padding : 1%; 
    color:black; 
    background-color: lightcyan ; 
    width: 50%; height:1000px;
    border: solid black; ">
        <h3>Successful Arbitrage trades </h3>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Trade Id</th>
          <th scope="col">Quantity</th>
          <th scope="col">Profit Earned</th>
          <th scope="col">Time of the trade</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ngFor="let obj of objects">
          <th scope="row">{{id}}</th>
          <td>{{quantity}}</td>
          <td>{{profit}}</td>
          <td>{{dateTime}}</td>
          <td><button type="button" class="btn btn-success" onclick="display(obj)">More Info</button></td>
      </tbody>
    </table>
</div>

<div class="rightdiv" >
    
  <h3>Details of the trade</h3>
  <div class="container">
    <table class="responsive-table table table-dark table-hover table-bordered">
      <caption>Arbitrage Details</caption>
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Forward Arbitrage</th>
          <th>Reverse Arbitrage</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <th scope="row">Arbitrage Amount</th>
          <td data-title="Released">2013</td>
          <td data-title="Studio">Disney</td>
        </tr>
         <tr>
          <th scope="row">Amount Invested</th>
          <td data-title="Released">2018</td>
          <td data-title="Studio">Disney Pixar</td>
        </tr>
        <tr>
          <th scope="row">Currency</th>
          <td data-title="Released">2015</td>
          <td data-title="Studio">Universal</td>
        </tr>
        <tr>
          <th scope="row">Trade Verdict</th>
          <td data-title="Released">2010</td>
          <td data-title="Studio">Disney Pixar</td>
                </tr>
             </tbody>
    </table>
  </div>
</div>




