<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random Data Arbitrage</title>
  <meta charset="utf-8">
  
</head>

<nav>
  <a class="navbar-brand" routerLink="/userInput" routerLinkActive="active" >Check for Arbitrage</a>&nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" routerLink="/random" routerLinkActive="active" >Random Arbitrage Opportunities</a>
</nav>

<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">USD/JPY Spot Bid</th>
      <th scope="col">USD/JPY Spot Ask</th>
      <th scope="col">USD/JPY Forward 6M Bid</th>
      <th scope="col">USD/JPY Forward 6M Ask</th>
      <th scope="col">Interest Rate USD Bid</th>
      <th scope="col">Interest Rate USD Ask</th>
      <th scope="col">Interest Rate JPY Bid</th>
      <th scope="col">Interest Rate JPY Ask</th>
      <th scope="col">Transaction Cost</th>
      <th scope="col">Arbitrage Opportunity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>105.38</td>
      <td>105.42</td>
      <td>105.75</td>
      <td>105.84</td>
      <td>4.95</td>
      <td>5.28</td>
      <td>0.31</td>
      <td>0.42</td>
      <td>20</td>
      <td id="Arbopp">Yes</td>
    </tr>
    <!-- <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr> -->
  </tbody>
</table>

<!-- <button (click)="showAlert()">show alert</button> -->

<div *ngIf="alertShow" class="alert alert-success" role="alert">
  <h4 class="alert-heading">Arbitrage opportunity found!</h4>
  <h5>Executing the beneficial trade...</h5>
  <button class="btn btn-primary" (click)="closeAlert()">Close alert</button>
</div>


<div class="leftdiv" style="float: left; padding : 1%; 
    color:black; 
    background-color: lightcyan ; 
    width: 50%; height:1000px;
    border: solid black; ">
    
    <h3>Successful Arbitrage trades </h3>
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Trade Id</th>
          <th scope="col">Quantity</th>
          <th scope="col">Profit Earned</th>
          <th scope="col">Time of the trade</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>100</td>
          <td>5.42</td>
          <td>{{dateTime}}</td>
          <td><button type="button" class="btn btn-success">More Info</button></td>
      </tbody>
    </table>
</div>

<div class="rightdiv" style="float: right;  padding : 1%; 
    color:black; 
    background-color: lightcyan; 
    width: 50%; height:1000px;
    border: solid black; ">
    
  <h3>Details of the trade</h3>
</div>




