<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arb User Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div style="background-color: dimgray;">
    <div class="card text-white form-center bg-dark mb-3"
      style="width: 1000px; height: 550px; margin-left: auto; margin-right: auto;margin-top: 20px;">
      <div class="card-header"><b>Arbitrage Calculator</b></div>
      <div class="card-body text-center" style="margin: auto;">


        <form  class="form-row" action="/action_page.php" #userform="ngForm" novalidate (ngSubmit)="onSubmit()">

          <div class="form-group row col-sm-6 " style="margin-left: auto;">
            <label class="control-label col-sm-4" for="first-currency">First currency</label>
            <div class="col-sm-6">
              <select #first class="form-control" id="first-currency">
                <option *ngFor="let currency of currencies1"> {{currency}} </option>

              </select>
            </div>

          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="second-currency">Second currency</label>
            <div class="col-sm-6">
              <select #second class="form-control" id="second-currency">
                <option *ngFor="let currency of currencies2"> {{currency}} </option>

              </select>
            </div>

          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="spot-bid">{{first.value}}/{{second.value}} Spot Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" min=0 id="spot-bid" placeholder="Enter {{first.value}}/{{second.value}} Spot Bid"
                name="spot-bid" [(ngModel)]="formDataModel.spotBid" #name="ngModel" ngModel required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                  {{first.value}}/{{second.value}} bid is required.
                </div>


              </div>
              
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="spot-ask">{{first.value}}/{{second.value}} Spot Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" min ={{name.value}} id="spot-ask" [(ngModel)]="formDataModel.spotAsk"
                placeholder="Enter {{first.value}}/{{second.value}} Spot Ask" name="spot-ask" #ask="ngModel" ngModel required>
                <div *ngIf="ask.invalid && (ask.dirty || ask.touched)" class="alert alert-danger">
                  <div *ngIf="ask.errors.required">
                    {{first.value}}/{{second.value}} Ask is required.
                  </div>  
                </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="forward-bid">{{first.value}}/{{second.value}} Forward 6M Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="forward-bid" [(ngModel)]="formDataModel.forwardBid"
                placeholder="Enter {{first.value}}/{{second.value}} Forward 6M Bid" name="forward-bid" #forB="ngModel" ngModel required min=0>
                <div *ngIf="forB.invalid && (forB.dirty || forB.touched)" class="alert alert-danger">
                  <div *ngIf="forB.errors.required">
                    {{first.value}}/{{second.value}} Forward 6M Bid is required.
                  </div>  
                </div>
              </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="forward-ask">{{first.value}}/{{second.value}} Forward 6M Ask</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="forward-ask" [(ngModel)]="formDataModel.forwardAsk"
                placeholder="Enter {{first.value}}/{{second.value}} Forward 6M Ask" name="forward-ask" #forA="ngModel" ngModel required min=0>
                <div *ngIf="forA.invalid && (forA.dirty || forA.touched)" class="alert alert-danger">
                  <div *ngIf="forA.errors.required">
                    {{first.value}}/{{second.value}} Forward 6M Ask is required.
                  </div>  
                </div>
              </div>
          </div>


          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-bid1">Interest Rate {{first.value}} Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-bid1"
                [(ngModel)]="formDataModel.currencyOneBidRate" placeholder="Enter Interest Rate {{first.value}} Bid"
                name="interest-rate-bid1" #irfb="ngModel" ngModel required min=0>
                <div *ngIf="irfb.invalid && (irfb.dirty || irfb.touched)" class="alert alert-danger">
                  <div *ngIf="irfb.errors.required">
                    Interest Rate {{first.value}} Bid is required.
                  </div>  
                </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-ask1">Interest Rate {{first.value}} Ask</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="interest-rate-ask1"
                [(ngModel)]="formDataModel.currencyOneAskRate" placeholder="Enter Interest Rate {{first.value}} Ask"
                name="interest-rate-ask1" #irfa="ngModel" ngModel required min=0>
                <div *ngIf="irfa.invalid && (irfa.dirty || irfa.touched)" class="alert alert-danger">
                  <div *ngIf="irfa.errors.required">
                    Interest Rate {{first.value}} Ask is required.
                  </div>  
                </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-bid2">Interest Rate {{second.value}}  Bid</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="interest-rate-bid2"
                [(ngModel)]="formDataModel.currencyTwoBidRate" placeholder="Enter Interest Rate {{second.value}} Bid"
                name="interest-rate-bid2" min=0 #irsb="ngModel" ndModel required min=0>
                <div *ngIf="irsb.invalid && (irsb.dirty || irsb.touched)" class="alert alert-danger">
                  <div *ngIf="irsb.errors.required">
                    Interest Rate {{second.value}} Bid is required.
                  </div>  
                </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-ask2">Interest Rate {{second.value}} Ask</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="interest-rate-ask2"
                [(ngModel)]="formDataModel.currencyTwoAskRate" placeholder="Enter Interest Rate {{second.value}} Ask"
                name="interest-rate-ask2" #irsa="ngModel" ngModel required min=0>
                <div *ngIf="irsa.invalid && (irsa.dirty || irsa.touched)" class="alert alert-danger">
                  <div *ngIf="irsa.errors.required">
                    Interest Rate {{second.value}} Ask is required.
                  </div>  
                </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="quantity">Quantity</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity"
                [(ngModel)]="formDataModel.quantity" name="quantity">
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="transaction-cost">Transaction Cost</label>
            <div class="col-sm-6">
              <input type="number" class="form-control" id="transaction-cost" placeholder="Enter Transaction Cost"
                name="transaction-cost">
            </div>
          </div>

          <div class="form-group  col-md-10 " style="margin-left: auto; margin-right: auto; margin-top:30px;">
            <div class="col-sm-offset-6 col-md-14">
              <button type="submit" [disabled]="!userform.form.valid" class="btn btn-light" (click)="handleClickTrial()">Check Arbitrage</button>
            </div>
          </div>

        </form>






      </div>
    </div>


  </div>

</body>

</html>