

<section id="hero" class="d-flex justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row" data-aos="fade-up" data-aos-delay="150" style="color: cornsilk;">
      <div>
        <h2>Forex Trading</h2>  
        <br>
        <h3>Forex arbitrage is the strategy of exploiting price disparity in the forex markets. It may be effected in various ways but however it is carried out, the arbitrage seeks to buy currency prices and sell currency prices that are currently divergent but extremely likely to rapidly converge. </h3>
      </div>
    </div>
    
      <div class="row mt-5">
        <div class="col-xl-2 col-md-4 col-6">
          <div class="icon-box">
            <i class="ri-store-line"></i>
            <h3><a routerLink="/usertestfx" routerLinkActive="active" (click)="checkArb()">Check for Arbitrage</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4 col-6 ">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line"></i>
            <h3><a routerLink="/randomfx" routerLinkActive="active" (click)="randomArb()">Arbitrage Trade Opportunities</a></h3>
          </div>
        </div>
      </div>

    </div>