<!DOCTYPE html>
<html lang="en">
<head>
  <title>Random Data Arbitrage</title>
  <meta charset="utf-8">
  <style>
  .rightdiv{
   float: right;  
   padding : 1%; 
    color:white; 
    background-color:#494e52; 
    width: 50%; height:1000px;  
    background-size: cover;
    position: relative;
    }
  </style>
</head>

<body style="background-color: #494e52;">

<table class="table table-hover" style="margin-bottom: 0px; border: hidden;" >
  <thead style="background-color:#171e27; color: #ffffff; ">
    <tr>
      <th scope="col">TRADE ID</th>
      <th scope="col">USD/JPY Spot Bid</th>
      <th scope="col">USD/JPY Spot Ask</th>
      <th scope="col">USD/JPY Forward 6M Bid</th>
      <th scope="col">USD/JPY Forward 6M Ask</th>
      <th scope="col">Interest Rate USD Bid</th>
      <th scope="col">Interest Rate USD Ask</th>
      <th scope="col">Interest Rate JPY Bid</th>
      <th scope="col">Interest Rate JPY Ask</th>
      <th scope="col">Transaction Cost</th>
      <th scope="col">Forward Arbitrage Opportunity</th>
      <th scope="col">Reverse Arbitrage Opportunity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="!controlf && !controlr" style="background-color: #e06252; font-weight: 500;">
      <th scope="row">{{randomobj?.id}}</th>
      <td>{{randomobj?.arbitrage.spot_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.spot_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.forward_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.forward_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr1_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr1_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr2_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr2_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.transaction_cost | number:'1.2-2'}}</td>
      <td *ngIf="controlf">Yes</td>
      <td *ngIf="!controlf">No</td>
      <td *ngIf="controlr">Yes</td>
      <td *ngIf="!controlr">No</td>
    </tr>
    <tr *ngIf="controlf || controlr" style="background-color:rgb(57, 221, 57); font-weight: 500;">
      <th scope="row">{{randomobj?.id}}</th>
      <td>{{randomobj?.arbitrage.spot_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.spot_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.forward_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.forward_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr1_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr1_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr2_bid | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.interest_rate_curr2_ask | number:'1.2-2'}}</td>
      <td>{{randomobj?.arbitrage.transaction_cost | number:'1.2-2'}}</td>
      <td *ngIf="controlf">Yes</td>
      <td *ngIf="!controlf">No</td>
      <td *ngIf="controlr">Yes</td>
      <td *ngIf="!controlr">No</td>
    </tr>
  </tbody>
</table>


<div *ngIf="controlf || controlr" class="alert alert-success text-center" role="alert">
  <h4 class="alert-heading">Arbitrage opportunity was found!</h4>
  <h5>Executing the beneficial trade...</h5>
</div>

<div *ngIf="!controlf && !controlr" class="alert alert-danger text-center" role="alert">
  <h4 class="alert-heading">Arbitrage opportunity was not found!</h4>
</div>


<div class="leftdiv" style="float: left; padding : 1%; 
    color:white; 
    background-color: #494e52 ; 
    width: 50%; height:1000px;
    overflow-y: scroll;
    ">
    <h3 style="margin-left: 120px;">Successful Arbitrage trades </h3>
    <table class="table " style="background-color:#171e27; color: white; border: hidden;">
      <thead >
        <tr>
          <th scope="col">Trade Id</th>
          <th scope="col">Quantity</th>
          <th scope="col">Profit Earned</th>
          <th scope="col">Time of the trade</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      
        <tr *ngFor = "let robj of randoms">
          <th scope="row">{{robj.id}}</th>
          <td>{{robj.arbitrage.fwd_arb_quantity}}</td>
          <td *ngIf = "robj.profit_loss_fwd >= robj.profit_loss_rev && robj.profit_loss_fwd > 0 " >{{robj.profit_loss_fwd | number:'1.2-2'}}</td>
          <td *ngIf = "robj.profit_loss_rev > robj.profit_loss_fwd && robj.profit_loss_rev > 0">{{robj.profit_loss_rev | number:'1.2-2'}}</td>
          <td>{{robj.date}}</td>
          <td><button type="button" class="btn btn-success" (click)="display(robj)">More Info</button></td>
      </tbody>
    </table>
    <p class="font-weight-light" *ngIf = "index==0">No Successful Arbitrage Trades yet.</p>
</div>

<div class="rightdiv" >
    
  <h3 style="margin-left: 180px;">Details of the trade</h3>
  <div class="container" *ngIf="displayDetails">
    <table class="responsive-table table table-bordered" style="background-color:#171e27; color: white;">
      <caption>Arbitrage Details</caption>
      <thead>
        <tr>
          <th scope="col">Field</th>
          <th scope="col">Forward Arbitrage</th>
          <th>Reverse Arbitrage</th>
        </tr>
      </thead>
          <tbody>
        <tr>
          <th scope="row">Quantity</th>
          <td>{{displayObj.arbitrage.fwd_arb_quantity}}</td>
          <td>{{displayObj.arbitrage.fwd_arb_quantity}}</td>
        </tr>
         <tr>
          <th scope="row">Arbitrage Amount</th>
          <td>{{displayObj.fwd_arb_amount |  number:'1.2-2'}}</td>
          <td>{{displayObj.rev_arb_amount |  number:'1.2-2'}}</td>
        </tr>
        <tr>
          <th>Amount Invested</th>
          <td>{{displayObj.fwd_arb_invest_amount |  number:'1.2-2'}}</td>
          <td>{{displayObj.rev_arb_invest_amount |  number:'1.2-2'}}</td>
        </tr>
        <tr>
          <th scope="row">Trade Verdict</th>
          <td *ngIf="displayObj.profit_loss_fwd >= 0">Profit = {{displayObj.profit_loss_fwd|number:'1.2-2'}}</td>
          <td *ngIf="displayObj.profit_loss_fwd < 0">Loss = {{displayObj.profit_loss_fwd| number:'1.2-2'}}</td>
          
          <td *ngIf="displayObj.profit_loss_rev >= 0">Profit = {{displayObj.profit_loss_rev| number:'1.2-2'}}</td>
          <td *ngIf="displayObj.profit_loss_rev < 0">Loss = {{displayObj.profit_loss_rev|number:'1.2-2'}}</td>
                </tr>
             </tbody>
    </table>
  </div>
</div>
  </body>
  </html>
  




