<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arb User Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div class = "back">
    <div class="card text-white form-center  mb-3"
      style="width:1000px; height:fit-content; margin-left: auto; margin-right: auto;margin-top: 20px;
      background-color:#171e27; opacity: 0.9;">
      <div class="card-header"><b>Arbitrage Calculator</b></div>
      <div class="card-body text-center" style="margin: auto;">


        <form class="form-row" action="/action_page.php" #userform="ngForm" novalidate (ngSubmit)="onSubmit()">

          <div class="form-group row col-sm-6 " style="margin-left: auto;">
            <label class="control-label col-sm-4" for="first-currency">First currency</label>
            <div class="col-sm-6">
              <input maxlength=3 type="text" class="form-control" id="first-currency"
                placeholder="For Eg. USD" name="first-currency"
                #first="ngModel" ngModel required>
              <div *ngIf="first.invalid && (first.dirty || first.touched)" class="alert alert-danger">

                  <div *ngIf="first.errors.required">
                    1st currency is required.
                  </div>
  
              </div>
            </div>

          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="second-currency">Second currency</label>
            <div class="col-sm-6">
              <input maxlength=3 type="text" class="form-control" id="second-currency"
                placeholder="For Eg. CAD" name="second-currency"
                #second="ngModel" ngModel required>
              <div *ngIf="second.invalid && (second.dirty || second.touched)" class="alert alert-danger">

                  <div *ngIf="second.errors.required">
                    2nd currency is required.
                  </div>
              </div>
            </div>

          </div>

          <div class="form-group row col-md-6" style="margin-left: auto; margin-top: 10px;">
            <label class="control-label col-sm-4" for="spot-bid">{{first.value}}/{{second.value}} Spot Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="spot-bid"
                placeholder="Enter Spot Bid" name="spot_bid"
                [(ngModel)]="formDataModel.spot_bid" #name="ngModel" ngModel required >
                <div *ngIf="formDataModel.spot_b()" class="alert alert-danger">
                  Please enter a positive spot bid.
                </div>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                  {{first.value}}/{{second.value}} bid is required.
                </div>

              
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto; margin-top: 10px;">
            <label class="control-label col-sm-4" for="spot-ask">{{first.value}}/{{second.value}} Spot Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="spot-ask" [(ngModel)]="formDataModel.spot_ask"
                placeholder="Enter Spot Ask" name="spot-ask" #ask="ngModel" ngModel
                required>
                <div *ngIf="formDataModel.spot_a()" class="alert alert-danger">
                  Ask price should be greater than Bid price.
                </div>
                <div *ngIf="ask.invalid && (ask.dirty || ask.touched)" class="alert alert-danger">
                <div *ngIf="ask.errors.required">
                  {{first.value}}/{{second.value}} Ask is required.
                </div>

              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="forward-bid">{{first.value}}/{{second.value}} Forward
              Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="forward-bid" [(ngModel)]="formDataModel.forward_bid"
                placeholder="Enter Forward Bid" name="forward-bid" #forB="ngModel"
                ngModel required min=0>
                <div *ngIf="formDataModel.for_b()" class="alert alert-danger">
                  Please enter a positive spot bid.
                </div>
                <div *ngIf="forB.invalid && (forB.dirty || forB.touched)" class="alert alert-danger">
                <div *ngIf="forB.errors.required">
                  {{first.value}}/{{second.value}} Forward Bid is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="forward-ask">{{first.value}}/{{second.value}} Forward
              Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="forward-ask" [(ngModel)]="formDataModel.forward_ask"
                placeholder="Enter Forward Ask" name="forward-ask" #forA="ngModel"
                ngModel required min=0>
                <div *ngIf="formDataModel.for_a()" class="alert alert-danger">
                  Ask price should be greater than Bid price.
                </div>
                <div *ngIf="forA.invalid && (forA.dirty || forA.touched)" class="alert alert-danger">
                <div *ngIf="forA.errors.required">
                  {{first.value}}/{{second.value}} Forward Ask is required.
                </div>
              </div>
            </div>
          </div>


          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-bid1">Interest Rate {{first.value}} Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-bid1"
                [(ngModel)]="formDataModel.interest_rate_curr1_bid"
                placeholder="Enter Interest Rate Bid" name="interest-rate-bid1" #irfb="ngModel" ngModel
                required>
                <div *ngIf="irfb.invalid && (irfb.dirty || irfb.touched)" class="alert alert-danger">
                <div *ngIf="irfb.errors.required">
                  Interest Rate {{first.value}} Bid is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-ask1">Interest Rate {{first.value}} Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-ask1"
                [(ngModel)]="formDataModel.interest_rate_curr1_ask"
                placeholder="Enter Interest Rate Ask" name="interest-rate-ask1" #irfa="ngModel" ngModel
                required>
                <div *ngIf="formDataModel.int1_a()" class="alert alert-danger">
                  Ask interest rate should be greater than Bid interest rate.
                </div>
                <div *ngIf="irfa.invalid && (irfa.dirty || irfa.touched)" class="alert alert-danger">
                <div *ngIf="irfa.errors.required">
                  Interest Rate {{first.value}} Ask is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-bid2">Interest Rate {{second.value}} Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-bid2"
                [(ngModel)]="formDataModel.interest_rate_curr2_bid"
                placeholder="Enter Interest Rate Bid" name="interest-rate-bid2" min=0 #irsb="ngModel"
                ndModel required>
                <div *ngIf="irsb.invalid && (irsb.dirty || irsb.touched)" class="alert alert-danger">
                <div *ngIf="irsb.errors.required">
                  Interest Rate {{second.value}} Bid is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-ask2">Interest Rate {{second.value}} Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-ask2"
                [(ngModel)]="formDataModel.interest_rate_curr2_ask"
                placeholder="Enter Interest Rate Ask" name="interest-rate-ask2" #irsa="ngModel" ngModel
                required>
                <div *ngIf="formDataModel.int2_a()" class="alert alert-danger">
                  Ask interest rate should be greater than Bid interest rate.
                </div>
                <div *ngIf="irsa.invalid && (irsa.dirty || irsa.touched)" class="alert alert-danger">
                <div *ngIf="irsa.errors.required">
                  Interest Rate {{second.value}} Ask is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="quantity">Quantity</label>
            <div class="col-sm-6" novalidate>
              <div *ngIf="formDataModel.fwd()" class="alert alert-danger">
                Please enter a positive quantity.
              </div>
              <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity"
                [(ngModel)]="formDataModel.fwd_arb_quantity" name="quantity" #quantity="ngModel" ngModel required min=0>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                <div *ngIf="quantity.errors.required">
                  Quantity is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="transaction-cost">Transaction Cost (Actual)</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="transaction-cost" placeholder="Enter Transaction Cost"
                [(ngModel)]="formDataModel.transaction_cost" name="transaction-cost" #tc="ngModel" ngModel required
                min=0>
                <div *ngIf="formDataModel.tc()" class="alert alert-danger">
                  Please enter a positive transaction cost.
                </div>
                <div *ngIf="tc.invalid && (tc.dirty || tc.touched)" class="alert alert-danger">
                <div *ngIf="tc.errors.required">
                  Transaction Cost is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left:15px; margin-top: 10px;">
            <label class="control-label col-sm-4" for="time">Time in Months</label>
            <div class="col-sm-6" novalidate>
              <div *ngIf="formDataModel.fwd()" class="alert alert-danger">
                Please enter a positive time.
              </div>
              <input type="number" class="form-control" id="time" placeholder="Enter Time"
                [(ngModel)]="formDataModel.time_months" name="time" #time="ngModel" ngModel required min=0>
              <div *ngIf="formDataModel.timecheck()" class="alert alert-danger">
                  Please enter a positive value.
              </div>
              <div *ngIf="time.invalid && (time.dirty || time.touched)" class="alert alert-danger">
                <div *ngIf="time.errors.required">
                  Time is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" data-toggle="modal" data-target="#arbModal"
            style="margin-left: 375px; margin-right: auto; margin-top:10px;">
            <div class="col-md-6">
              <button type="submit" [disabled]="!userform.form.valid" class="btn btn-light">Check Arbitrage</button>
            </div>
          </div>

          <div style = "margin-left: auto; margin-right: auto;">
            <div *ngIf="flag && controlf && controlr" class="alert alert-success text-center" role="alert">
              Forward Arbitrage opportunity was found! Profit is {{prof | number:'1.2-2'}}
              <br>
              and also Reverse Arbitrage opportunity was found! Profit is {{pror | number:'1.2-2'}}
              <br>
            </div>
          
            <div *ngIf="flag && controlf && !controlr" class="alert alert-success text-center" role="alert">
              Forward Arbitrage opportunity found! Profit is {{prof | number:'1.2-2'}}
              <br>
              Although, No Reverse Arbitrage opportunity was found! Loss is {{pror | number:'1.2-2'}}
              <br>
            </div>
          
            <div *ngIf="flag && !controlf && controlr" class="alert alert-success text-center" role="alert">
              Reverse Arbitrage opportunity found! Profit is {{pror | number:'1.2-2'}}
              <br>
              Although, No Forward Arbitrage opportunity was found! Loss is {{prof | number:'1.2-2'}}
              <br>
            </div>
            
            <div *ngIf="flag && !controlf && !controlr" class="alert alert-danger text-center" role="alert">
              No Arbitrage opportunity was found! Loss in Forward is {{prof | number:'1.2-2'}} 
              <br>
              and Loss in Reverse Arbitrage is {{pror | number:'1.2-2'}}
              <br>
            </div>
          </div>





        </form>







      </div>


    </div>
</div>
</body>

</html>