<!DOCTYPE html>
<html lang="en">

<head>
  <title>Arb User Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

  <div style="background-color:#494e52; ">
    <div class="card text-white form-center  mb-3"
      style="width: 1000px; height: 550px; margin-left: auto; margin-right: auto;margin-top: 20px;
      background-color:#171e27;">
      <div class="card-header"><b>Arbitrage Calculator</b></div>
      <div class="card-body text-center" style="margin: auto;">


        <form class="form-row" action="/action_page.php" #userform="ngForm" novalidate (ngSubmit)="onSubmit()">

          <div class="form-group row col-sm-6 " style="margin-left: auto;">
            <label class="control-label col-sm-4" for="first-currency">First currency</label>
            <div class="col-sm-6">
              <select #first class="form-control" id="first-currency">
                <option [value]="currency" *ngFor="let currency of currencies1">{{currency}}</option>

              </select>
            </div>

          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="second-currency">Second currency</label>
            <div class="col-sm-6">
              <select #second class="form-control" id="second-currency">
                <option [value]="currency" *ngFor="let currency of currencies2">{{currency}}</option>

              </select>
            </div>

          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="spot-bid">{{first.value}}/{{second.value}} Spot Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="spot-bid"
                placeholder="Enter {{first.value}}/{{second.value}} Spot Bid" name="spot_bid"
                [(ngModel)]="formDataModel.spot_bid" #name="ngModel" ngModel required >
                <div *ngIf="formDataModel.spot_b()" class="alert alert-danger">
                  Please enter a positive spot bid.
                </div>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                <div *ngIf="name.errors.required">
                  {{first.value}}/{{second.value}} bid is required.
                </div>

                


              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="spot-ask">{{first.value}}/{{second.value}} Spot Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="spot-ask" [(ngModel)]="formDataModel.spot_ask"
                placeholder="Enter {{first.value}}/{{second.value}} Spot Ask" name="spot-ask" #ask="ngModel" ngModel
                required>
                <div *ngIf="formDataModel.spot_a()" class="alert alert-danger">
                  Ask price should be greater than Bid price.
                </div>
                <div *ngIf="ask.invalid && (ask.dirty || ask.touched)" class="alert alert-danger">
                <div *ngIf="ask.errors.required">
                  {{first.value}}/{{second.value}} Ask is required.
                </div>

              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="forward-bid">{{first.value}}/{{second.value}} Forward 6M
              Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="forward-bid" [(ngModel)]="formDataModel.forward_bid"
                placeholder="Enter {{first.value}}/{{second.value}} Forward 6M Bid" name="forward-bid" #forB="ngModel"
                ngModel required min=0>
                <div *ngIf="formDataModel.for_b()" class="alert alert-danger">
                  Please enter a positive spot bid.
                </div>
                <div *ngIf="forB.invalid && (forB.dirty || forB.touched)" class="alert alert-danger">
                <div *ngIf="forB.errors.required">
                  {{first.value}}/{{second.value}} Forward 6M Bid is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="forward-ask">{{first.value}}/{{second.value}} Forward 6M
              Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="forward-ask" [(ngModel)]="formDataModel.forward_ask"
                placeholder="Enter {{first.value}}/{{second.value}} Forward 6M Ask" name="forward-ask" #forA="ngModel"
                ngModel required min=0>
                <div *ngIf="formDataModel.for_a()" class="alert alert-danger">
                  Ask price should be greater than Bid price.
                </div>
                <div *ngIf="forA.invalid && (forA.dirty || forA.touched)" class="alert alert-danger">
                <div *ngIf="forA.errors.required">
                  {{first.value}}/{{second.value}} Forward 6M Ask is required.
                </div>
              </div>
            </div>
          </div>


          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-bid1">Interest Rate {{first.value}} Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-bid1"
                [(ngModel)]="formDataModel.interest_rate_curr1_bid"
                placeholder="Enter Interest Rate {{first.value}} Bid" name="interest-rate-bid1" #irfb="ngModel" ngModel
                required min=0>
                <div *ngIf="formDataModel.int1_b()" class="alert alert-danger">
                  Please enter a positive interest rate.
                </div>
                <div *ngIf="irfb.invalid && (irfb.dirty || irfb.touched)" class="alert alert-danger">
                <div *ngIf="irfb.errors.required">
                  Interest Rate {{first.value}} Bid is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-ask1">Interest Rate {{first.value}} Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-ask1"
                [(ngModel)]="formDataModel.interest_rate_curr1_ask"
                placeholder="Enter Interest Rate {{first.value}} Ask" name="interest-rate-ask1" #irfa="ngModel" ngModel
                required min=0>
                <div *ngIf="formDataModel.int1_a()" class="alert alert-danger">
                  Ask interest rate should be greater than Bid interest rate.
                </div>
                <div *ngIf="irfa.invalid && (irfa.dirty || irfa.touched)" class="alert alert-danger">
                <div *ngIf="irfa.errors.required">
                  Interest Rate {{first.value}} Ask is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-bid2">Interest Rate {{second.value}} Bid</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-bid2"
                [(ngModel)]="formDataModel.interest_rate_curr2_bid"
                placeholder="Enter Interest Rate {{second.value}} Bid" name="interest-rate-bid2" min=0 #irsb="ngModel"
                ndModel required min=0>
                <div *ngIf="formDataModel.int2_b()" class="alert alert-danger">
                  Please enter a positive interest rate.
                </div>
                <div *ngIf="irsb.invalid && (irsb.dirty || irsb.touched)" class="alert alert-danger">
                <div *ngIf="irsb.errors.required">
                  Interest Rate {{second.value}} Bid is required.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="interest-rate-ask2">Interest Rate {{second.value}} Ask</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="interest-rate-ask2"
                [(ngModel)]="formDataModel.interest_rate_curr2_ask"
                placeholder="Enter Interest Rate {{second.value}} Ask" name="interest-rate-ask2" #irsa="ngModel" ngModel
                required min=0>
                <div *ngIf="formDataModel.int1_a()" class="alert alert-danger">
                  Ask interest rate should be greater than Bid interest rate.
                </div>
                <div *ngIf="irsa.invalid && (irsa.dirty || irsa.touched)" class="alert alert-danger">
                <div *ngIf="irsa.errors.required">
                  Interest Rate {{second.value}} Ask is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="quantity">Quantity</label>
            <div class="col-sm-6" novalidate>
              <div *ngIf="formDataModel.fwd()" class="alert alert-danger">
                Please enter a positive quantity.
              </div>
              <input type="number" class="form-control" id="quantity" placeholder="Enter Quantity"
                [(ngModel)]="formDataModel.fwd_arb_quantity" name="quantity" #quantity="ngModel" ngModel required min=0>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert alert-danger">
                <div *ngIf="quantity.errors.required">
                  Quantity is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row col-md-6" style="margin-left: auto;">
            <label class="control-label col-sm-4" for="transaction-cost">Transaction Cost</label>
            <div class="col-sm-6" novalidate>
              <input type="number" class="form-control" id="transaction-cost" placeholder="Enter Transaction Cost"
                [(ngModel)]="formDataModel.transaction_cost" name="transaction-cost" #tc="ngModel" ngModel required
                min=0>
                <div *ngIf="formDataModel.tc()" class="alert alert-danger">
                  Please enter a positive transaction cosr.
                </div>
                <div *ngIf="tc.invalid && (tc.dirty || tc.touched)" class="alert alert-danger">
                <div *ngIf="tc.errors.required">
                  Transaction Cost is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group  col-md-10 " data-toggle="modal" data-target="#arbModal"
            style="margin-left: auto; margin-right: auto; margin-top:30px;">
            <div class="col-sm-offset-6 col-md-14">
              <button type="submit" [disabled]="!userform.form.valid" class="btn btn-light">Check Arbitrage</button>
            </div>
          </div>






        </form>







      </div>


    </div>

    <div *ngIf="outputobj?.fwdArbitrage && outputobj?.revArbitrage==false" class="modal fade" id="arbModal" tabindex="-1" role="dialog"
    aria-labelledby="arbModalLabel" aria-hidden="true" style="margin-top: 100px;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #17fc6f;">
                <h5 class="modal-title" id="arbModalLabel">Arbitrage Sucess</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <br>
                Forward Arbitrage opportunity found! Profit is {{outputobj.profit_loss_fwd}}
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<div *ngIf="outputobj?.fwdArbitrage==false && outputobj?.revArbitrage==false" class="modal fade" id="arbModal" tabindex="-1" role="dialog"
    aria-labelledby="arbModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #f82056;">
                <h5 class="modal-title" id="arbModalLabel">Arbitrage Failure</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="outputobj?.profit_loss_fwd >= outputobj?.profit_loss_rev" class="modal-body">
                <br>
                Arbitrage opportunity not found! Loss is {{outputobj.profit_loss_fwd}}
                <br>
                <br>
            </div>
            <div *ngIf="outputobj?.profit_loss_fwd < outputobj?.profit_loss_rev" class="modal-body">
                <br>
                Arbitrage opportunity not found! Loss is {{outputobj.profit_loss_rev}}
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div *ngIf="outputobj?.revArbitrage && outputobj?.fwdArbitrage==false" class="modal fade" id="arbModal" tabindex="-1" role="dialog"
    aria-labelledby="arbModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #17fc6f;">
                <h5 class="modal-title" id="arbModalLabel">Arbitrage Sucess</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Reverse Arbitrage opportunity found! Profit is {{outputobj.profit_loss_rev}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div *ngIf="outputobj?.fwdArbitrage && outputobj?.revArbitrage" class="modal fade" id="arbModal" tabindex="-1" role="dialog"
    aria-labelledby="arbModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #17fc6f;">
                <h5 class="modal-title" id="arbModalLabel">Arbitrage Sucess</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="outputobj?.profit_loss_fwd >= outputobj?.profit_loss_rev" class="modal-body">
                <br>
                Forward Arbitrage opportunity found! Profit is {{outputobj.profit_loss_fwd}}
                <br>
                <br>
            </div>
            <div *ngIf="outputobj?.profit_loss_fwd < outputobj?.profit_loss_rev" class="modal-body">
                <br>
                Reverse Arbitrage opportunity found! Profit is {{outputobj.profit_loss_rev}}
                <br>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

</div>
</body>

</html>